{{#if isRequired}}
  <li data-cid="{{cid}}"><a href="#">{{name}}</a></li>
{{else}}
  <li class="dropdown" data-cid="{{cid}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{name}} <b class="caret pull-right" style="display: none;"></b>
    </a>
    <ul class="dropdown-menu" style="display: none;">
      <li class="rename"><a href="#">Rename</a></li>
      <li class="delete"><a href="#">Delete</a></li>
    </ul>
  </li>
{{/if}}

